//colors
$color-black:#000;
$color-blue: #005481;
$color-blue-light: #00a7da;
$color-green: #63bd4e;
$color-grey: #b5b9c9;
$color-grey-dark:#6d7593;
$color-grey-light: #e2e4ea;
$color-white: #fff;
$color-dirty-white: #eee;

//margins
$margin-horizontal: 9px;
$margin-vertical: 10px;

//border-radius
$radius: 5px;

//border
$border-grey: 1px solid $color-grey-light;

//box-shadow
$shadow-container: 0 4px 1px rgba(0,0,0,.1);
//responsive
$tablet: 1048px;
$mobile: 767px;

//fonts
$font-regular:'source_sans_proregular', Arial, Helvetica, sans-serif;
$font-bold:'source_sans_probold', Arial, Helvetica, sans-serif;
$font-bold-italic:'source_sans_probold_italic', Arial, Helvetica, sans-serif;
$font-italic:'source_sans_proitalic', Arial, Helvetica, sans-serif;
