{% include "partials/_head.html" %}

<div class="page">
  <div class="container">

  {% include "partials/_header.html" %}

  <article class="post" id="upper-post">
    <time pubdate datetime="2008-04-17">APRIL 17, 2008</time>
    <h1><a href="#">Yahoo kicks off re-wiring project</a></h1>
    <p>Yahoo users will soon have one place where they can manage all the services they use on the popular website.  
    </p>
    <a href="#" class="button">Read more...</a>
    <ul>
      <li>BY <a href="#">ADMIN</a></li>
      <li>IN <a href="#">TECHNOLOGY</a></li>
      <li><a href="#">1 COMMENT</a></li>
    </ul>
  </article>
  <article class="post ">
    <time pubdate datetime="2008-04-17">APRIL 17, 2008</time>
    <h1><a href="#">Yahoo kicks off re-wiring project</a></h1>
    <p>Yahoo users will soon have one place where they can manage all the services they use on the popular website. The company has begun a mammoth re-engineering project that will unify the disparate services Yahoo runs. It hopes the project will transform the site into a vast social network where Yahoo users can quickly find and communicate with each other.
    </p>
    <p>The project should also aims to make it easier for web developers to use Yahoo data and services for their own ends. 
    </p>
    <ul>
      <li>BY <a href="#">ADMIN</a></li>
      <li>IN <a href="#">TECHNOLOGY</a></li>
      <li><a href="#">1 COMMENT</a></li>
    </ul>
  </article>
  <article class="post">
    <time pubdate datetime="2008-04-17">APRIL 17, 2008</time>
    <h1><a href="#">Yahoo kicks off re-wiring project</a></h1>
    <p>Yahoo users will soon have one place where they can manage all the services they use on the popular website. The company has begun a mammoth re-engineering project that will unify the disparate services Yahoo runs. It hopes the project will transform the site into a vast social network where Yahoo users can quickly find and communicate with each other.
    </p>
    <p>The project should also aims to make it easier for web developers to use Yahoo data and services for their own ends. 
    </p>
    <ul>
      <li>BY <a href="#">ADMIN</a></li>
      <li>IN <a href="#">TECHNOLOGY</a></li>
      <li><a href="#">1 COMMENT</a></li>
    </ul>
  </article>
  <div class="recend_popular">
    <div class="title-list">
      <h2>Recend</h2>
      <ol class="custom-counter">
        <li><a href="#">Apple Updates iMacs Amid Booming Sales...</a></li>
        <li><a href="#">With Cray, Intel seeks greater supercomputer...</a></li>
        <li><a href="#">Mario Kart for Wii Races off of Retail Shelves...</a></li>
        <li><a href="#">Ubisoft crowns new Prince of Persia...</a></li>
        <li><a href="#">A Week of Wonderful New Web Apps...</a></li>
      </ol>
    </div>
    <div class="title-list">
        <h2>Popular</h2>
        <ol class="custom-counter">
          <li><a href="#">Apple Updates iMacs Amid Booming Sales...</a></li>
          <li><a href="#">With Cray, Intel seeks greater supercomputer...</a></li>
          <li><a href="#">Mario Kart for Wii Races off of Retail Shelves...</a></li>
          <li><a href="#">Ubisoft crowns new Prince of Persia...</a></li>
          <li><a href="#">A Week of Wonderful New Web Apps...</a></li>
        </ol>
      </div>
    </div>

    {% include "partials/_footer.html" %}

</div> 
<!-- container -->

  {% include "partials/_sidebar.html" %}

</div><!-- / page -->
</body>
</html>
