<aside>
    <nav>
        <div class="category">
            <a href="#">Blog</a>
            <p>Dolore magna aliqua. Ut enim ad minim veniam quis.</p>
        </div>
        <div class="category">
            <a class="color-blue-light"href="#">About</a>
            <p>Dolore magna aliqua. Ut enim ad minim veniam quis.</p>
        </div>
        <div class="category">
            <a class="color-green" href="#">Contact</a>
            <p>Dolore magna aliqua. Ut enim ad minim veniam quis.</p>
         </div>
    </nav>
    <div class="search">
        <input type="search" placeholder="Search">
        <input type="submit" value="">
    </div>
    <div class="title-list">
        <h3>Categories</h3>
        <ul>
            <li><a href="#">Entertainment</a></li>
            <li><a href="#">Literature</a></li>
            <li><a href="#">Business</a></li>
            <li><a href="#">Computers</a></li>
            <li><a href="#">Travel</a></li>
            <li><a href="#">Health</a></li>
            <li><a href="#">History</a></li>
            <li><a href="#">Technology</a></li>
            <li><a href="#">Culture</a></li>
            <li><a href="#">Sports</a></li>
        </ul>
    </div>
    <div class="title-list">
        <h3>Archives</h3>
        <ul>
            <li><a href="#">April 2008</a></li>
            <li><a href="#">March 2008</a></li>
            <li><a href="#">February 2008</a></li>
            <li><a href="#">January 2008</a></li>
        </ul>
    </div>
    <div class="title-list">
        <h3>Blogroll</h3>
        <ul>
            <li><a href="#">Development Blog</a></li>
            <li><a href="#">Documentation</a></li>
            <li><a href="#">Plugins</a></li>
            <li><a href="#">Suggest Ideas</a></li>
            <li><a href="#">Support Forum</a></li>
            <li><a href="#">Themes</a></li>
            <li><a href="#"> WordPress Planet</a></li>
        </ul>
    </div>
</aside>